.chat {

  border-left: 2px solid gray;
  border-right: 2px solid gray;

  .top {
    border-bottom: 2px solid gray;

    .user {


      img {}
    }
  }
}

.sendButton {}

.bottom {
  border-top: 2px solid gray;
}

.message {
  max-width: 70%;
  display: flex;
  gap: 20px;
  font-size: .9rem;
  &.own {
    align-self: flex-end;

    .texts {
      p {
        padding: 20px;
        background-color: #0c3163;
        border-radius: 20px;

      }
    }

  }

  .avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;

    &.own{
      display: none;
    }
  }


  .texts {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;

    img{
      width: 100%;
      object-fit: fill;
      border-radius: 10px;
      height: fit-content;
      
    }
    p {
      padding: 20px;
      background-color: gray;
      border-radius: 20px;
    }

    span{
      font-weight: 300;
      font-size: .7rem;
    }
  }

}